.progresspluginmask {
    position:absolute;
    top:0px;
    left:0px;
    background-color:rgb(92, 95, 95);
    opacity:.85;
    z-index:10; 
}

.progressplugininfo {
    position: absolute;
    background-color: none;
    z-index:15;
    text-align:center;
}

.progresspluginmessage {
    color:white;
}

.loadingimage
{
    background: url('images/loader.gif') no-repeat;
    width: 60px;
    height: 60px;
    display: inline-block;
    background-position: 0px 0px;
}

.metrostyleloading
{
    background: url('images/loader.gif') no-repeat;
    width: 130px;
    height: 12px;
    display: inline-block;
    background-position: 0px 0px;
}